.welcomee{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -999;
    top: 0;
    left: 0;
    background-image: linear-gradient(244.14deg, rgba(141, 52, 255, 0.72) 3.16%, rgba(255, 0, 0, 0.07) 97.98%);
}

.slogan h3{
    font-size: 30px;
    font-weight: bold;
    color:rgba(255, 255, 255, 1); ;
    text-shadow: 0.7px 0.5px 1px gray;
}

.slogan h5{
    font-size: 23px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0.7px 0.5px 1px gray;
}

.slogan{
    padding-top: 20%;
    padding-bottom:5% ;
}

.absolute{
    position: absolute;
}

.relative{
    position: relative;
}

.row.welcome{
    padding-bottom: 45vh;
}

.gembok{
    height: 80%;
    right: 5%;
    bottom: 0;
}
.qr{
    height: 12%;
    right: 25%;
    top: 20%;
}
.code{
    height: 12%;
    right: 5%;
    top: 30%;
}
.coin{
    height: 12%;
    right: 37%;
    top: 50%;
}

.play{
    height: 12%;
    right: 30%;
    bottom: 3%;
}
.eth{
    height: 12%;
    right: 5%;
    bottom: 3%;
}

.container-fluid.populer{
    background-color: #efefef;
    padding: 1%;
    
}

.container-fluid.keynote{
    background: #FFDADA;}

.container-fluid.keynote h3{
    font-size: 32px;
    font-weight: 600;
    color:black ;
}
.container-fluid.keynote h5{
    font-size: 23px;
    font-weight: 600;
    color:black ;
   
}
.container-fluid.keynote p{
    font-size: 19px;
    font-weight: 400;
    padding-top: 3%;
    padding-bottom: 3%;
 
}


.container-fluid.footer {
    background: #EFEFEF;
}
.container-fluid.footer h5{
    font-size: 18px;
    font-weight: 600;
    color:black ;
    padding-top:15% ;
    padding-bottom:5% ;
}
.container-fluid.footer h3{
    font-size: 16px;
    font-weight: 400;
    color:black ;
    padding-top:2% ;
    padding-bottom:2% ;
}





    
