/* @media (min-width: 768px) {
  .carousel-inner {
    display: flex;
  }
  .carousel-item {
    margin-right: 0;
    flex: 0 0 33.333333%;
    display: block;
  }
} */

.carousel-inner{
  padding: 1em;
}
.card{
  margin: 1em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 5%;
  padding-top: 1%;
}

.card img{
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.card-body h5{
  font-weight: 600;
  font-size: 18px;
  color: #6E7491;
}

.card-body p{
  font-size: 16px;
  color: #7C8DB0;
}

